{% extends "base.html" %}

{% block title %}Plan Your Visit{% endblock %}


{% block header %}
<div class="header-container">
  <header class="header">
    <h1>Plan Your Visit</h1>
  </header>
</div>
{% endblock %}

{% block content %} 

<div class="content-header-container">
    <div class="banner-text">
        <div class="content-header"><b>Need Help?</b></div> 
        <div class="sub-header"><b>Explore our FAQ for answers to your questions and plan your day at Riget Zoo Adventures</b></div>
        <button class="faq-button">FAQ</button>
    </div>
</div>

<div class="boxes-container">
    <div class="small-box">
        <div class="small-box-header"><b>Zoo Hours:</b></div>
        <div class="small-box-info">
            <div class="small-box-details"><b>Monday to Friday: <br> 9:00 AM - 5:00 PM</b></div>
            <div class="small-box-details"><b>Saturday and Sunday: <br> 10:00 AM - 6:00 PM</b></div>
            <div class="small-box-details">Note: The zoo is closed on major holidays such as Christmas Day and New Year's Day.</div>
        </div>
    </div>
    <div class="big-box">
        <img src="../static/images/zoo_hours.jpg">
    </div>
</div>

<div class="boxes-container">
    <div class="big-box-2">
        <img src="../static/images/location.png">
    </div>
    <div class="small-box-2">
        <div class="small-box-header"><b>Location:</b></div>
        <div class="small-box-info">
            <div class="small-box-details"><b>Address: <br> 123 Jungle Avenue, Leeds, LS1 2AB, United Kingdom</b></div>
            <div class="small-box-details">Conveniently located on Jungle Avenue, our zoo is easily accessible from the city center and surrounding areas.</div>
        </div>
    </div>
</div>

<div class="boxes-container">
    <div class="small-box">
        <div class="small-box-header"><b>Explore our Zoo Map:</b></div>
        <div class="small-box-info">
            <div class="small-box-details">Discover our diverse range of attractions, from the majestic lions to the playful primates, all while strolling along our beautifully landscaped pathways. Locate captivating animal exhibits, engaging learning stations, and essential facilities conveniently throughout the park.</div>
        </div>
    </div>
    <div class="big-box">
        <img src="../static/images/zoo_map.jpg">
    </div>
</div>

<div class="boxes-container">
    <div class="big-box-2">
        <img src="../static/images/accessibility_guests.jpg">
    </div>
    <div class="small-box-2">
        <div class="small-box-header"><b>Guest with Disabilities:</b></div>
        <div class="small-box-info">
            <div class="small-box-details">At Riget Zoo Adventures, we strive to provide an inclusive and welcoming environment for all visitors, including those with disabilities. We are committed to ensuring that everyone can enjoy a memorable experience while exploring our zoo.</div>
        </div>
    </div>
</div>

{% endblock %}