{% extends "base.html" %}

{% block title %}School Groups{% endblock %}

{% block header %}
<div class="header-container">
  <header class="header">
    <h1>School Groups</h1>
  </header>
</div>
{% endblock %}

{% block content %}

<div class="school-groups-container">
  <h1 class="school-groups-header">Educational Programs for School Groups</h1>
  <p>Welcome to our educational programs designed specifically for school groups!</p>
  
  <h2 class="school-groups-header">Program Details</h2>
  <ul class="school-groups-list">
      <li class="school-groups-item">
        <b>Educational Programs:</b> Engaging guided tours, seeing animals in action, and interactive activities led by experienced educators.
      </li>
      <li class="school-groups-item">
        <b>Curriculum Alignment:</b> Our programs align with school curriculum standards, covering topics such as biology, environmental science, and conservation.
      </li>
      <li class="school-groups-item">
        <b>Booking Information:</b> Book your visit with us! Learn about available dates, group sizes, booking procedures, and pricing options.
      </li>
      <li class="school-groups-item">
        <b>Customised Tours:</b> Tailored experiences for different age groups and learning objectives, ensuring an enriching visit for all students.
      </li>
      <li class="school-groups-item">
        <b>Educational Materials</b> Access additional resources such as lesson plans, activity sheets, and multimedia materials to complement classroom learning.
      </li>
      <li class="school-groups-item">
        <b>On-Site Hotel:</b> Enjoy the comfort of our on-site and meeting points to facilitate an easy and convenient school visit.
      </li>
  </ul>
</div>
{% endblock %}