{% extends "base.html" %}

{% block title %}Wildlife{% endblock %}

{% block header %}
<div class="header-container">
  <header class="header">
    <h1>Wildlife</h1>
  </header>
</div>
{% endblock %}

{% block content %} 

<div class="wildlife-container">
   <div class="wildlife-section">
      <div class="wildlife-image">
        <img src="../static/images/jaguar.png">
      </div>
      <div class="white-container">
        <div class="wildlife-header"><b>Jaguar</b></div>
        <div class="wildlife-info">
          <div class="wildlife-details"><b>Description:</b> <br> Meet the jaguar, the largest big cat in the Americas. With their striking golden-yellow coats adorned with black rosettes, jaguars are renowned for their stealth and power.</div>
          <div class="wildlife-details"><b>Habitat:</b> <br> Found in the dense rainforests, swamps, and grasslands of Central and South America, jaguars are skilled swimmers often spotted near water sources like rivers and lakes.</div>
          <div class="wildlife-details"><b>Behaviour:</b> <br> Solitary and nocturnal hunters, jaguars rely on keen senses to ambush prey under cover of darkness. They climb trees to stash kills, playing a crucial role in ecosystem balance.</div>
        </div>
      </div>
   </div>
</div>

<div class="wildlife-container">
    <div class="wildlife-section">
       <div class="wildlife-image">
         <img src="../static/images/giraffe.png">
       </div>
       <div class="white-container">
         <div class="wildlife-header"><b>Giraffe</b></div>
         <div class="wildlife-info">
           <div class="wildlife-details"><b>Description:</b> <br> Meet the giraffe (Giraffa camelopardalis), the tallest land mammal on Earth. With their distinctive long necks and patchy coats, giraffes are iconic symbols of the African savannah, known for their grace and towering presence.</div>
           <div class="wildlife-details"><b>Habitat:</b> <br> Found across the open plains and woodlands of sub-Saharan Africa, giraffes roam freely in search of acacia trees, their primary food source. Their long legs and necks enable them to reach the highest branches, where they feed on leaves and buds.</div>
           <div class="wildlife-details"><b>Behaviour:</b> <br> These gentle giants are social animals, often seen in loose groups called towers. Despite their size, giraffes are surprisingly agile and can reach speeds of up to 35 miles per hour when alarmed.</div>
         </div>
       </div>
    </div>
 </div>

 <div class="wildlife-container">
    <div class="wildlife-section">
       <div class="wildlife-image">
         <img src="../static/images/rhinoceros.png">
       </div>
       <div class="white-container">
         <div class="wildlife-header"><b>Rhinoceros</b></div>
         <div class="wildlife-info">
           <div class="wildlife-details"><b>Description:</b> <br> Meet the rhinoceros, powerful and armored creatures known for their formidable presence. With their thick skin and iconic horns, rhinos are among the largest land mammals, embodying strength and resilience.</div>
           <div class="wildlife-details"><b>Habitat:</b> <br> Found in various habitats across Africa and Asia, rhinos inhabit grasslands, savannahs, and dense forests. They are well-adapted to their environments, utilizing their sharp sense of smell and hearing to navigate their surroundings.</div>
           <div class="wildlife-details"><b>Behaviour:</b> <br> Rhinoceroses are generally solitary animals, although some species, like the white rhinoceros, may form small groups. They are herbivores, grazing on grasses, leaves, and branches.</div>
         </div>
       </div>
    </div>
 </div>

 <div class="wildlife-container">
    <div class="wildlife-section">
       <div class="wildlife-image">
         <img src="../static/images/koala.png">
       </div>
       <div class="white-container">
         <div class="wildlife-header"><b>Koala</b></div>
         <div class="wildlife-info">
           <div class="wildlife-details"><b>Description:</b> <br> Meet the koala, the iconic marsupial native to Australia. With their fluffy ears and distinctive round faces, koalas are beloved for their cuddly appearance and endearing demeanor.</div>
           <div class="wildlife-details"><b>Habitat:</b> <br> Found in the eucalyptus forests of eastern and southeastern Australia, koalas spend most of their time high up in the trees, munching on eucalyptus leaves. These marsupials are well-adapted to their arboreal lifestyle, with strong limbs and sharp claws for climbing.</div>
           <div class="wildlife-details"><b>Behaviour:</b> <br> Koalas are primarily nocturnal and solitary animals, with males maintaining territories that overlap with those of several females.</div>
         </div>
       </div>
    </div>
 </div>

 <div class="wildlife-container">
    <div class="wildlife-section">
       <div class="wildlife-image">
         <img src="../static/images/bee_eater.png">
       </div>
       <div class="white-container">
         <div class="wildlife-header"><b>Bee-eater</b></div>
         <div class="wildlife-info">
           <div class="wildlife-details"><b>Description:</b> <br> Meet the bee-eater, a dazzling bird known for its vibrant plumage and aerial prowess. With their striking colors and slender bodies, bee-eaters are a delight to behold as they dart through the sky in pursuit of their insect prey.</div>
           <div class="wildlife-details"><b>Habitat:</b> <br> Found in various habitats across Africa, Asia, and Europe, bee-eaters inhabit open landscapes such as grasslands, savannahs, and woodlands.</div>
           <div class="wildlife-details"><b>Behaviour:</b> <br> Bee-eaters are highly social birds, often seen in small flocks or pairs. They are skilled hunters, specializing in catching flying insects, especially bees, wasps, and dragonflies, which they capture mid-air using their sharp, slender bills. Bee-eaters are known for their acrobatic flights, performing intricate aerial maneuvers to catch their prey.</div>
         </div>
       </div>
    </div>
 </div>

{% endblock %}